$--color-white: #fff;
$--color-light: #f9fafc;
$--color-black: #060a23;

// Color gray
$--color-gray-0: #F8F9FA;
$--color-gray-1: #F1F3F5;
$--color-gray-2: #E9ECEF;
$--color-gray-3: #DEE2E6;
$--color-gray-4: #CED4DA;
$--color-gray-5: #ADB5BD;
$--color-gray-6: #868E96;
$--color-gray-7: #495057;
$--color-gray-8: #343A40;
$--color-gray-9: #212529;

// Color red
$--color-red-0: #FFF5F5;
$--color-red-1: #FFE3E3;
$--color-red-2: #FFC9C9;
$--color-red-3: #FFA8A8;
$--color-red-4: #FF8787;
$--color-red-5: #FF6B6B;
$--color-red-6: #FA5252;
$--color-red-7: #F03E3E;
$--color-red-8: #E03131;
$--color-red-9: #C92A2A;

// Color orange
$--color-orange-0: #FFF4E6;
$--color-orange-1: #FFE8CC;
$--color-orange-2: #FFD8A8;
$--color-orange-3: #FFC078;
$--color-orange-4: #FFA94D;
$--color-orange-5: #FF922B;
$--color-orange-6: #FD7E14;
$--color-orange-7: #F76707;
$--color-orange-8: #E8590C;
$--color-orange-9: #D9480F;

// Color green
$--color-green-0: #EBFBEE;
$--color-green-1: #D3F9D8;
$--color-green-2: #B2F2BB;
$--color-green-3: #8CE99A;
$--color-green-4: #69DB7C;
$--color-green-5: #51CF66;
$--color-green-6: #40C057;
$--color-green-7: #37B24D;
$--color-green-8: #2F9E44;
$--color-green-9: #2B8A3E;

// Shadows
$--shadow-style-1: 1px 2px 3px rgba($--color-black, 0.055);
$--shadow-style-2: 1px 1px 2px rgba($--color-black, 0.055);
$--shadow-style-3: 1px 1px 2px rgba($--color-black, 0.085);